.shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  width: min(1100px, 100%);
  margin: 0 auto;
  padding: 1rem;
  flex: 1;
}

@media (min-width: 768px) {
  .main {
    padding: 1.5rem;
  }
}
