.DS_STORE
12-JavaScript Async
12-Project 02
13-Data Structures and Algorithm Theory
14-Software Engineering - System Design
15-JavaScript objects and OOP
16-Software Engineering - Software Design
17-React
18-Project 03
19-Scrum and Agile
20-Query Data with SQL
21-NodeJS
22-REST APIs
23-Project 04
24-Prepare for Job Search
