.DS_STORE

15-Job Readiness
16-Data Structures and Algorithms
17-TypeScript
18-React
19-Project 03
20-Agile and Scrum
21-AI
22-System Design
23-SQL and Databases
24-NodeJS
25-REST APIs
26-Testing
27-Project 04
28-Job Search